<template>
    <div>
        <div class="post" v-for="post,index in posts">
            <div class="post-title">
                {{index+1}}{{post.title}}
            </div>
            <div class="post-body">
                {{post.body}}
            </div>            
        </div>
        <infinite-loading @infinite="infiniteHandler">
            <span slot="no-more">
                No hay mas data
            </span>
        </infinite-loading>
    </div>    
</template>

<script>
import InfiniteLoading from 'vue-infinite-loading';
    export default {
        created(){
            this.getpost()
        },data(){
            return {
                posts: []
            }
        },methods:{
            getpost(){
                axios.get('/post').then( (response)=>{
                    //this.posts = response.data.post;
                    this.posts = response.data.data;
                }).catch()
            },
            infiniteHandler($state){
                //let limit = this.posts.length + 10 ;
                let page = this.posts.length/10 +1 ; //paginando literalmente
                //axios.get('/post',{params:{limit:limit}})
                axios.get('/post',{params:{page:page}})
                .then((response)=>{
                    //console.log(response);
                    this.loadMore($state,response)
                })
            }, 
            loadMore($state,response){
                //if(response.data.post.length){
                if(response.data.data.length){
                    //this.posts =response.data.post;
                    this.posts = this.posts.concat(response.data.data);
                    setTimeout(()=>{
                        $state.loaded();
                    }, 3000);

                    if (response.data.total == this.posts.length) {
                        $state.complete();
                    }
                }else {
                    $state.complete();
                }
            }
        }
    }
</script>